
/* Section:Title */

.title{
  padding-top: 100px;
  background-color: #c9c2ff;
  height: 85vh;
  z-index: -1;
}

.titletext {
  font-size: calc(1rem + 3.3vw);
  margin-bottom: 0;
  font-family: "Playball", cursive;
  font-weight: 500;
  font-style: normal;
  color: rgb(136, 153, 233);
  z-index: 1;
}

@media (min-width: 1000px) {
  .im {
    font-size: 4rem;
  }
}

.nameimage{
  margin-top: 0;
  margin-bottom: 20px;
  min-width: 250px;
  z-index: 1;
}

.webill{
  position: fixed;
  bottom: -50px;
  z-index: 0;
  border-radius: 5%;
  min-width: 350px;
}




/* Section: skills */

.skilldiv{
  background-color: white;
  z-index: 1;
}

h1{
  color: #6dc0b9;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    z-index: 1;
}

.btn{
  background-color: hsl(114, 100%, 95%);
  color: #5faaff;
  font-weight: 100px;

}

.skill{
  background-color: #8CBDF5;
  color: white;
}












/* JUST SOME COLOR OPTIONS I MIGHT CHANGE TO

For lightbluetop
#title{
  background-color: #cbc3ff;
}

For lightpurpletop
#title{
  background-color: #c9c2ff;
}

For lightbluetop
#title{
  background-color: #c4edff;
}

For whitetop
#title{
  background-color: #fdecff;
} */
